html {
    background-color: gray;
}

.row{
    background-color:gray;
}

.jumbotron{
    background-image: url(https://base.imgix.net/files/base/ebm/mhlnews/image/2019/03/mhlnews_5153_calm_storm_highway.png?auto=format&fit=crop&h=432&w=768);
    background-repeat: no-repeat;
    background-position: top;
    background-size:2000px;
    margin-bottom: 0%;
}

.display-4{
    font-weight: bold;
}

